body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #555;
    color: #fff;
    padding: 10px;
    text-align: center;
    flex: 0 0 auto;
}

section {
    display: flex;
    flex: 1 1 auto;
}

aside {
    background-color: #666666;
    color: #fff;
    padding: 20px;
    width: 200px;
}

main {
    flex: 1 1 auto;
    padding: 20px;
}

.body{
    background-color: #001f3f;
    color: #ffffff;
}

.products{
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
}

a{
    text-decoration: none;
}


.form-group h1,
.form-group h3,
.form-group h4 {
    color: #ffffff;
}

.form-control {
    max-width: 400px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    flex: 0 0 auto;
}
